.portfolio--skill {
  width: 100vw;

  max-width: var(--maxWidth--desktop);
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 100px;
}

.portfolio--skill--subject {
  width: 100%;

  color: var(--blue300);
  font-size: var(--font--size--big);
}

.portfolio--skill--grid {
  width: 100%;

  height: 700px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.portfolio--skill--grid--box {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.portfolio--skill--grid > .portfolio--skill--grid--box:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  background-image: url("../image/c.png");
}
.portfolio--skill--grid > .portfolio--skill--grid--box:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
  background-image: url("../image/cisco.png");
}
.portfolio--skill--grid > .portfolio--skill--grid--box:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
  background-image: url("../image/css.png");
}
.portfolio--skill--grid > .portfolio--skill--grid--box:nth-child(4) {
  grid-area: 1 / 4 / 2 / 5;
  background-image: url("../image/html5.png");
}
.portfolio--skill--grid > .portfolio--skill--grid--box:nth-child(5) {
  grid-area: 1 / 5 / 2 / 6;
  background-image: url("../image/huawei.png");
}
.portfolio--skill--grid > .portfolio--skill--grid--box:nth-child(6) {
  grid-area: 2 / 1 / 3 / 2;
  background-image: url("../image/Java.png");
}
.portfolio--skill--grid > .portfolio--skill--grid--box:nth-child(7) {
  grid-area: 2 / 2 / 3 / 3;
  background-image: url("../image/Javascript.png");
}
.portfolio--skill--grid > .portfolio--skill--grid--box:nth-child(8) {
  grid-area: 2 / 3 / 3 / 4;
  background-image: url("../image/python.png");
}
.portfolio--skill--grid > .portfolio--skill--grid--box:nth-child(9) {
  grid-area: 2 / 4 / 3 / 5;
  background-image: url("../image/ubuntu.png");
}
.portfolio--skill--grid > .portfolio--skill--grid--box:nth-child(10) {
  grid-area: 2 / 5 / 3 / 6;
  background-image: url("../image/windows.png");
}

@media screen and (max-width: 768px) {
  .portfolio--skill {
    max-width: var(--maxWidth--mobile);
    width: calc(100% - 40px);
    padding: 0 20px;
  }
  .portfolio--skill--subject {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .portfolio--skill--grid {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;

    margin: 0 0 100px;
    height: 1600px;
  }

  .portfolio--skill--grid--box {
    width: 100%;
    height: 100%;

    background-color: var(--white);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.25rem 3rem;
  }
}
